<div>
  <h2>Connexion</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="pseudo">Pseudo:</label>
      <input type="text" id="pseudo" name = "pseudo" formControlName="pseudo" />
    </div>

    <div>
      <label for="password">Mot de passe:</label>
      <input type="password" id="password" name="password" formControlName="password" />
    </div>

    @if (errorMessage) {
      <p style="color:red">{{ errorMessage }}</p>
    }

    <button type="submit" [disabled]="loading">
      {{ loading ? 'Connexion en cours...' : 'Se connecter' }}
    </button>
  </form>
</div>
